@model DepartmentViewModel
@{
    ViewData["Title"] = "Edit";
}

<h2 class="mb-4">Update Department</h2>
<form asp-action="Edit">
    <input hidden asp-for="Id"/>
    <partial name="PartialViews/CreateEditDepartmentView" />

    <input class="btn btn-primary" type="submit" value="Save" />|
    <a asp-action="Index" class="btn btn-light">Back to List</a>

</form>

@section validationScriptSection{
    <partial name="_ValidationScriptsPartial" />
}

