@model IdentityRole
@{
    ViewData["Title"] = "Delete";
}


<h2>Are you sure to delete this role</h2>

<form asp-action="Delete">
    <input hidden asp-for="Id" />
    <partial name="PartialViews/DetailsDeleteRoleView" />
    <input class="btn btn-danger" value="Delete" type="submit" />
    <a asp-action="Index" class="btn btn-light">Cancel</a>

</form>
