
@{
    ViewData["Title"] = "CheckYourPassword";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}
<h1 class="mt-5">Check your inbox</h1>
@*<div class="vh-100 w-100 d-flex align-items-center justify-content-center">
    <div>
        <p class="text-white h3">Check your email to reset password</p>
        <a href="https://mail.google.com/mail/u/0/#inbox">Your inbox</a>
    </div>

</div>*@

